PART 1 User Interaction

REQ 1.1 Input Buttons

The device shall provide two general purpose input buttons for interacting with the user. 

- button (A)
- button (B)

REQ 1.2 Display

The device shall communicate with the user through the output display.

REQ 1.3 Activation

The device shall power on when button A is pressed for more than 3 seconds.

REQ 1.3 Deactivation

The device shall power off when buttons A+B are pressed for more than 3 seconds at any moment.



PART 2 Display views

REQ 2.1 views

The views provided by the smartwatch shall be the following ones:

- Clock view
- Display Selection view
- Step Count view
- Hearth rate view
- ECG view
- Sp02 view
- Map view
- Setting view

REQ 2.2 Initial view

The initial display upon power-on shall be set on the clock view.

REQ 2.3 Clock view

The watch shall display the current time using clock with digits (hours and minutes).
The watch shall display the battery state of charge indicator.
The watch shall change to "Display Selection view" view when button B is pressed.

REQ 2.4 Display Selection view

Display options are: 

	Clock
	Step count
	Heart rate
	ECG
	Sp02
	Map
	Settings
	
Default option is "Clock"	
The watch shall change selected view when button A is pressed.
The watch shall activate the selected view when button B is pressed. 

REQ 2.5 Step Count view

The watch shall display the current step count. If not available, an error message is displayed.
The watch shall change to "Display Selection view" view when button B is pressed.

REQ 2.6 Heart rate view

The watch shall display the current heart rate. If not available, an error message is displayed.
The watch shall change to "Display Selection view" view when button B is pressed.

REQ 2.7 ECG view:

The watch shall display the ECG. If not available, an error message is displayed.
The watch shall change to "Display Selection view" view when button B is pressed.	

REQ 2.8 Sp02 view:

The watch shall display the blood oxygen level (%). If not available, an error message is displayed.
The watch shall change to "Display Selection view" view when button B is pressed.	
	
REQ 2.9 Map view:

The watch shall connect to the mobile phone to retrieve the map info through the bluetooth, according to the position indicated by the GPS tracker. 
If connection is not available or GPS position is not available with enough precision (100 m), an error message is displayed.
The watch shall dynamically display a dot over the map to indicate the GPS position of the watch.
Default zoom is 100%. The watch shall change the zoom option when button A is pressed circularly between these values:  75% - 50% - 25%  - 100%
The watch shall change to "Display Selection view" when button B is pressed.

REQ 2.10 Settings View

A list of options are available:

	- brightness  
	- bluetooth on/off 
	- health status check on/off
	- return to "Display Selection view" menu

The watch shall change option when button A is pressed (default brightness).
The watch shall change option value or activate the selected option when button B is pressed. 

When "brightness" is selected, the user can select circularly between these possible values: 
	Mid (50% - default) 
	Low (25%)
	Very High (100%)
	High (75%)

when "bluetooth" is selected the user can choose to activate or deactivate the bluetooth.
when "health status check" is selected the user can choose to activate or deactivate the health status check notification.
when "Display Selection view" is selected, return to "Display Selection" menu and save the current settings.



PART 3 Storage

REQ 3.1 Storage card

The watch shall provide a memory facility which will retain the information after power-off.

REQ 3.2 Stored data 

The permanent storage shall provide the possibility to store this information:

	- Bluetooth enabled
	- Brightness setting
	- Health status check enabled

REQ 3.3 Load data

At power-on the device shall read the stored data and apply them before enabling the interaction with the user.




PART 4 Background management

REQ 4.1 Battery reading

The watch shall read the battery life status periodically

REQ 4.2 Movement reading

The watch shall monitor the accelerometer periodically to detect movement or lack of thereof.
The movement is triggered when a force of X Newton is detected from the accelerometer (X is a calibration parameter).

REQ 4.3 Battery failure

If the battery state of charge is not available, an error is displayed to the user in Clock View.

REQ 4.4 Low Power stand-by mode activation

The watch shall go to Low Power stand-by mode when motion by any of the accelerometers is not detected for at least 5 seconds or if the battery state of charge is <=10% and >2%. 

REQ 4.5 Low Power stand-by mode actions

In Low Power stand-by mode the watch shall perfom these actions in order to reduce power consumption:

	- Trigger motor vibration for 2 sec
	- Set display brightness to "Low"
	- Disable Bluetooth
	- Disable Health status check notification
	- Turn off display

REQ 4.6 Full Power mode activation

The watch shall go to Full Power mode when motion is detected by one of the accelerometers and the battery state of charge is >10%. 

REQ 4.7 Full Power mode actions

In Full Power mode the watch shall perfom these actions:

	- Set display brightness to stored setting
	- Set Bluetooth to stored setting
	- Set Health status check notification to stored setting

REQ 4.8 Low Power deactivation

The watch shall deactivate when the battery state of charge is <2%.

REQ 4.9 Health status check monitoring

The watch shall monitor the Health status periodically according to the available ECG, Hearth rate and Sp02 parameters available.
If the Health status parameters exceed recommended health data thresholds, a notification is sent to the user with a display message and a linear vibration motor activated for 2 sec.
